# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Env / secrets
.env
.env.local
.env*.local

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
